.content{
    padding-top: 50px;
    width: 80%;
    margin: auto;

    .header{
        padding: 30px 0;
        width: 100%;
        display: flex;
        button{
            margin-left: auto;
        }
    }
}